beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
fake-useragent==0.1.11
greenlet==1.1.2
idna==3.3
itsdangerous==2.1.1
lxml==4.9.1
MarkupSafe==2.1.1
psycopg2-binary==2.9.3
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
urllib3==1.26.9
Werkzeug==2.0.3
